    <!-- untuk footer -->
    <footer>
        <div class="container-fuild p-3 mt-5 bg-secondary ">
            <div class="d-flex justify-content-center align-items-center"><p class="mb-0">create by me</p></div>
        </div>
    </footer>